@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Rubik:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  /* color mode hsl: (hue, sat, lightness)*/
  --first-color: hsl(229, 100%, 55%); /* Adjusted primary color */
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 85%);
  --body-color: hsl(0, 0%, 10%); /* Dark background color */
  --container-color: #111; /* Adjusted container color */

  --body-font: 'Lato', sans-serif;
  --h1-font-size: clamp(1.50rem, 5vw, 2.25rem);
--h2-font-size: clamp(1.25rem, 3vw, 1.5rem);
--h3-font-size: clamp(1rem, 2.5vw, 1.2rem);
--normal-font-size: clamp(0.93rem, 2vw, 1rem);
--small-font-size: clamp(0.81rem, 1.5vw, 0.875rem);
--smaller-font-size: clamp(0.74rem, 1vw, 0.8rem);

  /*font weight time*/
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /*box shadow*/
  --shadow: 0px 5px 20px 0px rgb(69 68 100 / 10%);

  /* border radius time*/
  --border-radius : 20px;
}

/* responsive typo*/
@media (max-width: 1222px) {
  :root {
    --h1-font-size: clamp(1.50rem, 5vw, 1.75rem);
    --h2-font-size: clamp(1rem, 3vw, 1.25rem);
    --h3-font-size: clamp(0.8rem, 2.5vw, 1rem);
    --normal-font-size: clamp(0.93rem, 2vw, 0.93rem);
    --small-font-size: clamp(0.81rem, 1.5vw, 0.81rem);
    --smaller-font-size: clamp(0.74rem, 1vw, 0.74rem);
  }
}

/*base css*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  line-height: 2;
  color: var(--text-color);
}


h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
  line-height: 1;
  margin-top: 5rem;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/*recycleable css*/
.container {
  max-width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}



.section {
  padding-top: 7rem;
  padding-bottom: 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  margin-left: 0.8rem;
  font-weight: var(--font-bold);
  position: relative;
  margin-bottom: 3.75rem;
}

.btn {
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 1.875rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  border: 1px solid transparent;
  display: inline-block;
  background-color: var(--first-color);
  font-weight: var(--fold-bold);
}

@keyframes button-push {
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.btn:hover {
  animation: button-push 0.3s linear 1;
}


body {
  background: linear-gradient(to right, #111, #333); /* Adjust the gradient colors as needed */
}


